<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-t-13">
      </div>
      <div class="col col-8 col-t-13 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.author.say-hello }}</h1>
          <p class="hero__subtitle">{{ site.data.settings.author.bio }}</p>
          <div class="hero__social">
            <span class="hero__social-title">Follow Me |</span>
            {% include contact-link.html %}
          </div>
          <div class="hero__workoffice">
            <p><br><strong>{{ site.data.settings.author.job-company }}</strong> | {{ site.data.settings.author.job-adress }}</p>
          </div>
        </div>
      </div>
      <div class="col col-4 col-t-13">
        <div class="hero__image">
          <img src="{{site.baseurl}}/images/{{ site.data.settings.author.image }}" alt="" width = 30%>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->